<div class="form-view">
  <mat-card class="settings-card">
    <h3>Branding & Domain</h3>
    <div class="grid-form">
      <mat-form-field appearance="outline">
        <mat-label>Institute Name</mat-label>
        <input matInput [(ngModel)]="websiteConfig.name" placeholder="Enter institute name">
        <i class="fa-thin fa-building" matSuffix></i>
      </mat-form-field>
    </div>
  </mat-card>

  <mat-card class="settings-card">
    <h3>Contact Information</h3>
    <div class="grid-form">
      <mat-form-field appearance="outline">
        <mat-label>Support Email</mat-label>
        <input matInput placeholder="support@institute.com">
        <i class="fa-thin fa-envelope" matSuffix></i>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="+91 00000 00000">
        <i class="fa-thin fa-phone" matSuffix></i>
      </mat-form-field>
    </div>
  </mat-card>
</div>
